/*
1 -Defina fontes diferentes para o seu nome e para a descrição que você criou;
2 -Defina uma cor base de background do seu Portfólio Web;
3- Altere o estilo das tags que você usou para destacar algumas informações, como sua nacionalidade e a cidade/estado onde mora;
4- Coloque tamanhos diferentes para os elementos da lista de habilidades que você criou. Lembre-se de usar classes para cada um dos elementos;
*/

body{
    width:50%;
    margin:auto;
   /* background-color: rgb(130, 138, 149);*/
    background-color: #0C1618;
    color:white;
    padding-top:40px;
}
nav{
    position:absolute;
    left:-10px;
    top:100px;
}
h1{
    font-family: 'Courier New', Courier, monospace;
}
.about{
    font-family: "Poppins", sans-serif;
    /*font-family: "Roboto", sans-serif;*/
    font-weight: 400;
    line-height: 2em;
}

section{
    font-family: "Roboto", sans-serif;
    line-height: 2rem;
}

.prof-item{
    font-family: 'Nunito Sans', sans-serif;
}

#curiosidades{
    color:#D1AC00;
}

#habilidades{
    color: rgb(141, 8, 141);
}

#habilidadesplus{
    color:#F09156;
}

#recomendacoes{
    color:#004643;
}

a{
    text-decoration: none;
    color:white;
}

li{
    list-style-type: none;
}

nav li a{
    line-height: 3rem;
    font-family: 'Courier New', Courier, monospace;
/*    color:#D5C9DF;*/
    color:#F09156;
    font-weight: 700;
    font-size: 15px;
    background-color: #004643;
    padding:10px;
    width:100%;
    transition: 0.5s;
}
nav li a:hover{
    /*color:#004643;*/
    /*background-color:#D1AC00;*/
    background-color: rgb(56, 0, 56);
    color:#D1AC00;
}



#foto-perfil{
    border-radius: 50%;;
}

article{
    margin-bottom: 20px;
    margin-top: 50px;
}

article li{
    margin-left:-2.5rem;
}

article a{
    text-decoration: underline;
}

article a:hover{
    color:rgb(162, 54, 212);
}

footer{
    padding-top: 30px;
    text-align: center;
}

#quote{
    font-family: "homemade apple", cursive;
}

#eduardo{
    text-align: right;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
